<div>
  <h1>

    Hola {{name}}!
    <br>
    Bienvenido al listado de productos
  </h1>

  <div>
    {{#each products }}
      <div>
        <p>
         # <a href="/products/{{{this._id}}}">
{{this.title}}
         </a>  - $ {{ this.price }} - <button onclick="agregarCarrito('{{ this._id }}')" data-propiedad="{{this._id}}" >Agregar al carrito</button>
        </p>
      </div>
    {{/each}}


  </div>
    <div>paginas totales: {{totalPages}} - pagina actual: {{page}}</div>
    
    <div> <button onclick="nextPage('{{{prevLink}}}')"> pagina anterior</button></div>
    <div> <button onclick="nextPage('{{{nextLink}}}')"> pagina siguiente</button></div>
</div>

<script>

  const agregarCarrito = async (pid) => {
    console.log("falta agregarCarrito pid: ", pid)
  }

  const nextPage = async (nextLink) => {
   const url = nextLink.replace("/api", '')
   window.location.href = url;




  }


</script>