<div>
  <h1>

    Hola {{name}}!
    <br>
    Bienvenido al listado de productos
  </h1>

  <div>
    {{#each products }}
      <div>
        <p>
         # {{this.title}} - $ {{ this.price }} - <button onclick="agregarCarrito('{{ this._id }}')" data-propiedad="{{this._id}}" >Agregar al carrito</button>
        </p>
      </div>
    {{/each}}


  </div>
    <div>paginas totales: {{totalPages}} - pagina actual: {{page}}</div>
    <div> <button> pagina siguiente: {{nextLink }}</button></div>


</div>

<script>

  const agregarCarrito = async (pid) => {
    console.log("falta agregarCarrito pid: ", pid)
  }

</script>